@model VetClinicWeb.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Employee details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" disabled/>
        </div>
        <div class="form-group">
            <label asp-for="Surname" class="control-label"></label>
            <input asp-for="Surname" class="form-control" disabled/>
        </div>
        <div class="form-group">
            <label asp-for="Salary" class="control-label"></label>
            <input asp-for="Salary" class="form-control" disabled/>
        </div>
        <div class="form-group">
            <label asp-for="BonusSalary" class="control-label"></label>
            <input asp-for="BonusSalary" class="form-control" disabled/>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" id="addressInfo" disabled/>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" disabled/>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="control-label"></label>
            <select disabled class="form-control">
                <option selected>@Model.PositionName</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Facility" class="control-label"></label>
            <select disabled class="form-control">
                <option selected>
                    @Model.FacilityAddress
                </option>
            </select>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>