@model VetClinicWeb.Models.PatientViewModel

@{
    ViewData["Title"] = "Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Update patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species" class="control-label"></label>
                @Html.DropDownListFor(model => model.Species, ViewBag.species as SelectList, "-- species --", new {@class="form-control"})
             </div>
             <div class="form-group">
                <label asp-for="Organization" class="control-label"></label>
                @Html.DropDownListFor(model => model.Organization, ViewBag.organizations as SelectList, "-- organization --", new {@class="form-control"})
             </div>
             <div class="form-group">
                <label asp-for="Owner" class="control-label"></label>
                @Html.DropDownListFor(model => model.Owner, ViewBag.owners as SelectList, "-- owner --", new {@class="form-control"})
             </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
