@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="text-black">Main menu</h4>
</div>

<div class="list-group">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-8">
            <a asp-area="" asp-controller="Facility" asp-action="Index" class="list-group-item list-group-item-action">Facilities</a>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-8">
            <a asp-area="" asp-controller="Position" asp-action="Index" class="list-group-item list-group-item-action">Positions</a>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-8">
            <a asp-area="" asp-controller="Employee" asp-action="Index" class="list-group-item list-group-item-action">Employees</a>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-8">
            <a asp-area="" asp-controller="Species" asp-action="Index" class="list-group-item list-group-item-action">Species</a>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-8">
            <a asp-area="" asp-controller="Owner" asp-action="Index" class="list-group-item list-group-item-action">Owners</a>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-8">
            <a asp-area="" asp-controller="Organization" asp-action="Index" class="list-group-item list-group-item-action">Organizations</a>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-8">
            <a asp-area="" asp-controller="Office" asp-action="Index" class="list-group-item list-group-item-action">Offices</a>
        </div>
      </div>
    </div>
</div>